@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

body {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s linear;
}

body.dark {
  background: #161623;
}

.checkbox {
  margin: auto;
  opacity: 0;
  position: relative;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);

}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}




.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;

}

.container .card1 {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 5, 0);
    border-radius: 15px;
    background: rgb(255, 255,255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255,255, 0.5);
    border-left: 1px solid rgb(255, 255,255, 0.5);
    background: url(imagens/img1.png);

}

.container .card2 {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 5, 0);
    border-radius: 15px;
    background: rgb(255, 255,255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255,255, 0.5);
    border-left: 1px solid rgb(255, 255,255, 0.5);
    background: url(imagens/img2.png);

}

.container .card3 {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 5, 0);
    border-radius: 15px;
    background: rgb(255, 255,255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255,255, 0.5);
    border-left: 1px solid rgb(255, 255,255, 0.5);
    background: url(imagens/img3.png);

}

.container .card4 {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 5, 0);
    border-radius: 15px;
    background: rgb(255, 255,255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255,255, 0.5);
    border-left: 1px solid rgb(255, 255,255, 0.5);
    background: url(imagens/img4.png);

}

.container .card5 {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 5, 0);
    border-radius: 15px;
    background: rgb(255, 255,255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255,255, 0.5);
    border-left: 1px solid rgb(255, 255,255, 0.5);
    background: url(imagens/img5.png);

}

.container .card6 {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 5, 0);
    border-radius: 15px;
    background: rgb(255, 255,255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255,255, 0.5);
    border-left: 1px solid rgb(255, 255,255, 0.5);
    background: url(imagens/img6.png);

}

.container .card1   .content {
padding: 20px;
    text-align: center;
    transform:translateY(100px);
    opacity: 0;
    transition: 0.5s;
    
}
.container .card1 .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card1  .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0);
    pointer-events: none;
}

.container .card1  .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card1  .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card1  .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5em 15px rgba(0, 0, 0, 0.2);

}


.container .card2   .content {
    padding: 20px;
        text-align: center;
        transform:translateY(100px);
        opacity: 0;
        transition: 0.5s;
        
    }
    .container .card2 .content {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .container .card2  .content h2{
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0);
        pointer-events: none;
    }
    
    .container .card2  .content h3{
        font-size: 1.8em;
        color: #fff;
        z-index: 1;
    }
    
    .container .card2  .content p{
        font-size: 1em;
        color: #fff;
        font-weight: 300;
    }
    
    .container .card2  .content a{
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: #fff;
        color: black;
        text-decoration: none;
        border-radius: 20px;
        font-weight: 500;
        box-shadow: 0 5em 15px rgba(0, 0, 0, 0.2);
    
    }


    
.container .card3   .content {
    padding: 20px;
        text-align: center;
        transform:translateY(100px);
        opacity: 0;
        transition: 0.5s;
        
    }
    .container .card3 .content {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .container .card3  .content h2{
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0);
        pointer-events: none;
    }
    
    .container .card3  .content h3{
        font-size: 1.8em;
        color: #fff;
        z-index: 1;
    }
    
    .container .card3  .content p{
        font-size: 1em;
        color: #fff;
        font-weight: 300;
    }
    
    .container .card3  .content a{
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: #fff;
        color: black;
        text-decoration: none;
        border-radius: 20px;
        font-weight: 500;
        box-shadow: 0 5em 15px rgba(0, 0, 0, 0.2);
    
    }


    .container .card4   .content {
        padding: 20px;
            text-align: center;
            transform:translateY(100px);
            opacity: 0;
            transition: 0.5s;
            
        }
        .container .card4 .content {
            transform: translateY(0px);
            opacity: 1;
        }
        
        .container .card4  .content h2{
            position: absolute;
            top: -80px;
            right: 30px;
            font-size: 8em;
            color: rgba(255, 255, 255, 0);
            pointer-events: none;
        }
        
        .container .card4  .content h3{
            font-size: 1.8em;
            color: #fff;
            z-index: 1;
        }
        
        .container .card4  .content p{
            font-size: 1em;
            color: #fff;
            font-weight: 300;
        }
        
        .container .card4  .content a{
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            margin-top: 15px;
            background: #fff;
            color: black;
            text-decoration: none;
            border-radius: 20px;
            font-weight: 500;
            box-shadow: 0 5em 15px rgba(0, 0, 0, 0.2);
        
        }


        .container .card5   .content {
            padding: 20px;
                text-align: center;
                transform:translateY(100px);
                opacity: 0;
                transition: 0.5s;
                
            }
            .container .card5 .content {
                transform: translateY(0px);
                opacity: 1;
            }
            
            .container .card5  .content h2{
                position: absolute;
                top: -80px;
                right: 30px;
                font-size: 8em;
                color: rgba(255, 255, 255, 0);
                pointer-events: none;
            }
            
            .container .card5  .content h3{
                font-size: 1.8em;
                color: #fff;
                z-index: 1;
            }
            
            .container .card5  .content p{
                font-size: 1em;
                color: #fff;
                font-weight: 300;
            }
            
            .container .card5  .content a{
                position: relative;
                display: inline-block;
                padding: 8px 20px;
                margin-top: 15px;
                background: #fff;
                color: black;
                text-decoration: none;
                border-radius: 20px;
                font-weight: 500;
                box-shadow: 0 5em 15px rgba(0, 0, 0, 0.2);
            
            }


            .container .card6   .content {
                padding: 20px;
                    text-align: center;
                    transform:translateY(100px);
                    opacity: 0;
                    transition: 0.5s;
                    
                }
                .container .card6 .content {
                    transform: translateY(0px);
                    opacity: 1;
                }
                
                .container .card6  .content h2{
                    position: absolute;
                    top: -80px;
                    right: 30px;
                    font-size: 8em;
                    color: rgba(255, 255, 255, 0);
                    pointer-events: none;
                }
                
                .container .card6  .content h3{
                    font-size: 1.8em;
                    color: #fff;
                    z-index: 1;
                }
                
                .container .card6  .content p{
                    font-size: 1em;
                    color: #fff;
                    font-weight: 300;
                }
                
                .container .card6  .content a{
                    position: relative;
                    display: inline-block;
                    padding: 8px 20px;
                    margin-top: 15px;
                    background: #fff;
                    color: black;
                    text-decoration: none;
                    border-radius: 20px;
                    font-weight: 500;
                    box-shadow: 0 5em 15px rgba(0, 0, 0, 0.2);
                
                }